aiohttp
pyfiglet
psutil
tensorboard
keyboard
InquirerPy
prompt_toolkit
argparse
asyncio
datasets
packaging
python-dotenv
halo
prettytable
numpy
pandas
requests
torch
transformers==4.40.0
bittensor==6.10.1
matplotlib
scikit-learn
tqdm
huggingface_hub
pydantic==1.10
rich
safetensors
wandb
sentencepiece
jinja2>=3.0.0
accelerate==0.29.3
bitsandbytes==0.43.1
sentence-transformers==2.3.1
tokenizers==0.19.1
trl==0.8.5
peft